<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

 

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Bienvenue dans l'univers APPS LERNEN</h1>
    <p>Dans sa tout nouvelle découverte, APPS LERNEN fait le bain d'un profit de la toute puissante technologie et sa particulière vitess de gloire.</p>
    <a type="button" class="btn btn-lg btn-default" ><span class="glyphicon glyphicon-flash"></span> Happy Le nerveux</a>
    <a type="button" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-download"></span> Chapdel le fatome</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Apprendre plus sur nous <a href="https://facebook.com/appslernen" class="alert-link">Apps Lernen</a>, une plateforme de developpement applicatif.
  </div>
 

</body>
</html>
